body{
    background-color: aliceblue;
}
h1 {
    text-align: center; color: black;
}
h2{
    text-align: center;color: black;
 }
p{
    text-align: center; color: black; 
}
i{
    text-align: center; color: black;
}
img style{
 image-resolution: 2160p;
}